body {
    background: #ebf7fa;
    font-family: 'Open Sans', serif;
    text-align: center;
  }

  .card {
    box-shadow: 20px 20px 20px rgba(151, 146, 165, 0.5);
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    font-size: 15px;
  }
.container img{
  max-width: 300px;
  max-height: 200px;
  width: auto;
  height: auto;
}